#element_to_pop_up
    .add-project-wrap
        h1.add-project-title Добавление проекта
            .pop-up-close.b-close
        form#add-new-project.add-project-form(action="#" method="POST" role="form")
            label.add-project-label Название проекта
                input#project-name-field.add-project-input(type="text" name="project-name" placeholder="Введите название" qtip-content="Вы не ввели название")
            label.add-project-label Картинка проекта
                .upload-wrap
                    input#file-field.add-file(type="file" name="add-file[]")
                    .upload-text Загрузите изображение
                    .upload-img
            label.add-project-label URL проекта
                input#url-field.add-project-input(type="url" name="project-name" placeholder="Добавьте ссылку" qtip-content="Вы не добавили ссылку")
            label.add-project-label Описание
                textarea#message-field.add-project-description(name="project-description", cols="10", rows="10" placeholder="Пара слов о Вашем проекте" qtip-content="Описание проекта обязательно")
                input.add-project-submit(type="submit" value="Добавить")
