#element_to_pop_up
    .add-project-wrap
        h1.add-project-title Добавление проекта
        form.add-project-form(action="#")
            label.add-project-label Название проекта
                input.add-project-input(type="text" id="project-name-field" placeholder="Введите название")
            label.add-project-label Картинка проекта
                .add-project-input.upload-img Загрузите изображение
                    input.add-file(type="file" id="file-field" placeholder="Загрузите изображение")
            label.add-project-label URL проекта
                input.add-project-input(type="url" id="url-field" placeholder="Добавьте ссылку")
            label.add-project-label Описание
                textarea.add-project-description(name="project-description", cols="10", rows="10" id="message-field" placeholder="Пара слов о Вашем проекте")
                input.add-project-submit(type="submit" value="Добавить")
