// Sidebar
aside.sidebar
    nav.sidebar__nav
        ul.sidebar__nav__list
            li.sidebar__nav__list__item.curent
                a.sidebar__nav__list__item-link(href="/") Обо мне
            li.sidebar__nav__list__item
                a.sidebar__nav__list__item-link(href="/my-work") Мои работы
            li.sidebar__nav__list__item
                a.sidebar__nav__list__item-link(href="/touch") Связаться со мной
    address.contacts
        h2.contacts__header
            span.contacts__header__text Контакты
        ul.contacts__list
            li.contacts__item.contacts__item-mail
                a.contacts__link(href="mailto:radislaw22@gmail.com")
                    span.contacts__link__text radislaw22@gmail.com
            li.contacts__item.contacts__item-phone
                a.contacts__link(href="tel:+79025212499")
                    span.contacts__link__text +7(902)521-24-99
            li.contacts__item.contacts__item-skype
                a.contacts__link(href="skype:radislaw22@gmail.com")
                    span.contacts__link__text Радислав Ялилов
