.autorization
    h1.autorization-title Авторизируйтесь
    form.autorization-form(action="#")
        label.autorization-label  Логин
            input.autorization-input(type="text" id="logun-field" placeholder="Введите логин")
        label.autorization-label Пароль
            input.autorization-input(type="password" id="password-field" placeholder="Введите пароль")
            input.autorization-submit(type="submit" value="Войти")
