.autorization
    h1.autorization-title Авторизируйтесь
    form#autorization.autorization-form(action="#" method="POST" role="form")
        label.autorization-label  Логин
            input#autorization-login-field.autorization-input(type="text" name="login" placeholder="Введите логин" qtip-content="Введите логин")
        label.autorization-label Пароль
            input#autorization-password-field.autorization-input(type="password" name="password" placeholder="Введите пароль" qtip-content="Введите пароль")
            input.autorization-submit(type="submit" value="Войти")
