.page-row
    footer.page-footer
        .wrapper.container
            .lock
                a.lock-inner(href="form.html")
            .copyright &copy; 2015. Это мой сайт, пожалуйста не копируйте и не воруйте его
