section.variable-block
    article.variable__block__info
        h2.info__header Основная информация
        .info__body.clearfix
            .image-wrap
                .avatar-box
                    img.avatar(src="img/avatar.jpg", alt="MyAvatar")
            .worksheet-wrap
                ul.worksheet__list
                    li.worksheet__item.clearfix
                        .worksheet-what Меня зовут:
                        .worksheet-info Радислав Ялилов
                    li.worksheet__item.clearfix
                        .worksheet-what Мой возраст:
                        .worksheet-info 32 года
                    li.worksheet__item.clearfix
                        .worksheet-what Мой город:
                        .worksheet-info Артем, Россия
                    li.worksheet__item.clearfix
                        .worksheet-what Моя специализация:
                        .worksheet-info FRONTEND разработчик
                    li.worksheet__item.clearfix
                        .worksheet-what Ключевые навыки:
                        .worksheet-info.skills
                            ul.skils-list
                                li.skill-item html
                                li.skill-item css
                                li.skill-item javascript
                                li.skill-item gulp
                                li.skill-item git
    article.variable__block__info
        h2.info__header Опыт работы
        .info__body
            ul.about-box__list
                li.about-box__item.icon-work
                    .where "Центральная поликлиника" - Участковый терапевт
                    .period Сентябрь 2006 - Август 2008
                li.about-box__item.icon-work
                    .where "Республиканский научный центр экстренной медицинской помощи" - Врач скорой помощи
                    .period Июль 2010 - Июнь 2015
    article.variable__block__info
        h2.info__header Образование
        .info__body
            ul.about-box__list
                li.about-box__item.icon-hat
                    .where Высшее. Андижанский Государственный медицинский институт
                    .period Сентябрь 1999 - Июль 2006
                li.about-box__item.icon-hat
                    .where Магистратура. Андижанский Государственный медицинский институт
                    .period Сентябрь 2010 - Июль 2014
                li.about-box__item.icon-page
                    .where Курсы Loftschool.ru
                    .period Сентябрь 2015 - по настоящее время
