section.variable-block
    article.variable__block__info
        h2.info__header Основная информация
        .info__body.clearfix
            .image-wrap
                .avatar-box
                    img.avatar(src="img/avatar.png", alt="MyAvatar")
            .worksheet-wrap
                ul.worksheet__list
                    li.worksheet__item.clearfix
                        .worksheet-what Меня зовут:
                        .worksheet-info Радислав Ялилов
                    li.worksheet__item.clearfix
                        .worksheet-what Мой возраст:
                        .worksheet-info 32 года
                    li.worksheet__item.clearfix
                        .worksheet-what Мой город:
                        .worksheet-info Артем, Россия
                    li.worksheet__item.clearfix
                        .worksheet-what Моя специализация:
                        .worksheet-info FRONTEND разработчик
                    li.worksheet__item.clearfix
                        .worksheet-what Ключевые навыки:
                        .worksheet-info.skills
                            ul.skills-list
                                li.skill-item html
                                li.skill-item css
                                li.skill-item javascript
                                li.skill-item gulp
                                li.skill-item git
    article.variable__block__info
        h2.info__header Опыт работы
    article.variable__block__info
        h2.info__header Образование
