section.variable-block
    article.variable__block__info
        h2.info__header Мои работы
        ul.preview-list
            li.preview-item
                figure.preview-wrap
                    .peview-img-wrap
                        img.peview-img(src="img/preview-1.jpg", alt="preview")
                        a.peview-img-link(href="#")
                            .peview-img-text название
                    figcaption.figcaption
                            a(href="#").site-name www.site.ru
                            p.project-info Информация о проекте 1 превью 2 строки....
            li.preview-item
                figure.preview-wrap
                    .peview-img-wrap
                        img.peview-img(src="img/preview-2.jpg", alt="preview")
                        a.peview-img-link(href="#")
                            .peview-img-text название
                    figcaption.figcaption
                            a(href="#").site-name www.site.ru
                            p.project-info Информация о проекте 1 превью 2 строки....
            li.preview-item
                figure.preview-wrap
                    .peview-img-wrap
                        img.peview-img(src="img/preview-3.jpg", alt="preview")
                        a.peview-img-link(href="#")
                            .peview-img-text название
                    figcaption.figcaption
                            a(href="#").site-name www.site.ru
                            p.project-info Информация о проекте 1 превью 2 строки....
            li.preview-item
                figure.preview-wrap
                    .peview-img-wrap
                        img.peview-img(src="img/preview-4.jpg", alt="preview")
                        a.peview-img-link(href="#")
                            .peview-img-text название
                    figcaption.figcaption
                            a(href="#").site-name www.site.ru
                            p.project-info Информация о проекте 1 превью 2 строки....
            li.preview-item
                .preview-wrap
                    .add-project#pop-up
                    include _add-project.jade

