section.variable-block
    article.variable__block__info
        h2.info__header Мои работы
        .preview__body
            figure.preview-wrap
                a.peview-link(href="/site.ru")
                    img.peview-img(src="../img/preview-1.jpg", alt="")
                .hover
                figcaption.figcaption
                        a(href="#").site-name www.site.ru
                        p.project-info Информация о проекте 1 превью 2 строки....
            figure.preview-wrap
                a.peview-link(href="/site.ru")
                    img.peview-img(src="../img/preview-2.jpg", alt="")
                figcaption.figcaption
                        a(href="#").site-name www.site.ru
                        p.project-info Информация о проекте 1 превью 2 строки....
            figure.preview-wrap
                a.peview-link(href="/site.ru")
                    img.peview-img(src="../img/preview-3.jpg", alt="")
                figcaption.figcaption
                        a(href="#").site-name www.site.ru
                        p.project-info Информация о проекте 1 превью 2 строки....
            figure.preview-wrap
                a.peview-link(href="/site.ru")
                    img.peview-img(src="../img/preview-4.jpg", alt="")
                figcaption.figcaption
                        a(href="#").site-name www.site.ru
                        p.project-info Информация о проекте 1 превью 2 строки....
            .preview-wrap
                .add-project#pop-up
                include _add-project.jade

