section.variable-block
    .touch-form
        .touch-form-title У вас интересный проект? Напишите мне
        .touch-form-wrap
            form#contact-me.autorization-form(action="#" method="POST" role="form")
                label.touch-label Имя
                    input#login-field.touch-input(type="text" name="login" placeholder="Как к Вам обращаться" qtip-content="Вы не ввели имя" qtip-position="left")
                label.touch-label Email
                    input#mail-field.touch-input(type="email" name="email" placeholder="Куда мне писать" qtip-content="Вы не ввели email" qtip-position="right")
                label.touch-label Сообщение
                    textarea#message-field.touch-message(name="message"  rows="10" placeholder="Кратко в чем суть" qtip-content="Ваш вопрос" qtip-position="left")
                label.touch-label.touch-capcha-label Введите код, указанный на картинке
                    .capcha-wrap
                        .capcha
                            img(src="img/capcha.png", alt="capcha")
                        input#captcha-field.capcha-input(type="text" name="captcha" placeholder="Введите код" qtip-content="Вы не ввели код" qtip-position="right")
                input.touch-submit.touch-btn(type="submit" value="Отправить")
                input.touch-reset.touch-btn(type="reset" value="Очистить")
