.add-project {
    width: 182px;
    height: 128px;
    border: 1px dashed rgb(59, 168, 192);
    background: rgb(236, 251, 255) url(../img/add-img.png) no-repeat center;
    border-radius: 7px;
    cursor: pointer;
}

#element_to_pop_up {
    display: none;
}

.add-project-wrap {
    width: 362px;
    height: 493px;
    background-color: #eff3f7;
    border-radius: 5px;
    box-shadow: 0px 6px 12.48px 0.52px rgba(13, 16, 7, 0.35);
    overflow: hidden;
}

.add-project-title {
    margin: 0;
    padding-left: 13px;
    height: 53px;
    font-size: 25px;
    color: #fff;
    background-color: #48cbe8;
    border-bottom: 9px solid #67dffa;
    line-height: 44px;
    margin-bottom: 10px;
}

.add-project-form {
    width: 320px;
    margin: 0 auto;
}

.add-project-label {
    display: inline-block;
    font-size: 17px;
    color: #959aa8;
    font-family: 'firasans-book', sans-serif;
}

.add-project-input {
    display: block;
    width: 320px;
    height: 41px;
    background-color: #fff;
    border: 1px solid rgb(72, 203, 232);
    border-radius: 4px;
    font-family: 'firasans-light', sans-serif;
    font-size: 13px;
    padding: 10px;
    margin-bottom: 10px;
    color: #48cbe8;
}

.upload-img {
    background: #fff url(../img/upload.png) no-repeat right;
}

.add-file {
    opacity: 0;
    filter: alpha(opacity: 0);
    background: url(../img/upload.png);
}

.add-project-description {
    display: block;
    width: 320px;
    height: 110px;
    border: 1px solid rgb(72, 203, 232);
    border-radius: 4px;
    font-family: 'firasans-light', sans-serif;
    font-size: 13px;
    padding: 10px;
    margin-bottom: 11px;
}

.add-project-submit {
    display: block;
    color: #fff;
    background-color: #48cbe8;
    border-radius: 5px;
    width: 140px;
    height: 33px;
    border: none;
    border-bottom: 4px solid #3ba8c0;
    font-size: 19px;
    line-height: 31px;
    margin: 0 auto;
}
