html{
    width: 100%;
    height: 100%;
}
body{
    width: 1400px;
    height: 100%;
    display: table; /* FOR STICKY FOOTER */
    background: url(/img/comppattern.png) repeat;
    font: normal 100% 'fira_sanslight', sans-serif;
    color: #4a545d;
}
img{
    max-width: 100%;
}

.clearfix:before,
.clearfix:after {
   content: "";
   display: table;
}
.clearfix:after {
   clear: both;
}
.wrapper-big{
    width: 1200px;
    margin: 0 auto;
}
.wrapper{
    width: 960px;
    margin: 0 auto;
}

/* HEADER */
.main-header{
    background:#eff3f7 url(/img/gradient-border.png) no-repeat bottom center;
    background-size: 100%;
    padding: 39px 0 30px 0;
    margin-bottom: 39px;
}
.site-logo{
    float: left;
    margin-left: -1px;
}

/* SOCIAL ICONS */
.header-social-icons-list{
    float: right;
    list-style-type: none;
    margin: 0;
    margin-top: -4px;
    padding: 0;
}
.header-social-icon-item{
    float: left;
    margin-left: 1.5em;
}
.header-social-icon-link{
    display: block;
    width: 47px;
    height: 47px;
    text-decoration: none;
    background: url(/img/social.png) no-repeat;
    text-indent: -9999px;
}
.header-social-icon-link-vk{
    background-position: 0 0;
}
.header-social-icon-link-vk:hover{
    background-position: 0 -48px;
}
.header-social-icon-link-tw{
    background-position: -48px 0;
}
.header-social-icon-link-tw:hover{
    background-position: -48px -48px;
}
.header-social-icon-link-fb{
    background-position: -97px 0;
}
.header-social-icon-link-fb:hover{
    background-position: -97px -48px;
}
.header-social-icon-link-gh{
    background-position: -146px 0;
}
.header-social-icon-link-gh:hover{
    background-position: -146px -48px;
}

/* ASIDE */
.sidebar{
    float: left;
}

.sidebar__nav__list{
    width: 250px;
    min-height: 220px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #eff3f7;
    border-radius: 4px;
}
.sidebar__nav__item{

}
.sidebar__nav-link{
    display: block;
    text-decoration: none;
    padding: 21px 0 17px 17px;
    color: #959aa8;
    font-size: 21px;
    text-decoration: none;
    border-bottom: 2px solid #3ba8c0;
    margin: 0 10px;
}
.sidebar__nav__item-curent{
    background-color: #3ba8c0;
}
.sidebar__nav__item-curent a{
    color: #fff;
    font-size: 23px;
    padding-bottom: 16px;
}
.sidebar__nav__item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.sidebar__nav__item:first-child a,
.sidebar__nav__item:last-child a{
    border-bottom: none;
}
.sidebar__nav-link:hover{
    color: #3ba8c0;
}
.sidebar__nav__item-curent a:hover{
    color:white;
}

/* VARIABLE */
.variable-block{
    float: right;
}

/* STICKY FOOTER STYLES */
.page-row{
    display: table-row;
    height: 1px;
}
.page-row-expanded{
    height: 100%;
}

/* FOOTER */
.page-footer{
    background: #eff3f7 url(/img/gradient-border.png) no-repeat top center;
    background-size: 100%;
    width: 100%;
}
