.touch-form{
    border-radius: 4px;
    overflow: hidden;
    background-color: #eff3f7;
    min-height: 840px;
    margin-bottom: 27px;
}
.touch-form-wrap{
    width: 402px;
    margin: 0 auto;
}
.touch-form-title{
    margin: 0;
    height: 138px;
    font-size: 27px;
    font-family: 'fira_sansbook', sans-serif;
    font-variant: normal;
    color: #fff;
    background-color: #48cbe8;
    border-bottom: 15px solid #67dffa;
    text-align: center;
    line-height: 127px;
    margin-bottom: 40px;
}
.touch-label{
    display: inline-block;
    font-size: 19px;
    color: #959aa8;
    font-family:'firasans-light', sans-serif;
}

.touch-label:first-child{
    margin-right: 13px;
}
.touch-input{
    display: block;
    width: 192px;
    height: 41px;
    background-color: #fff;
    border: 1px solid rgb(72, 203, 232);
    border-radius: 4px;
    font-family:'firasans-light', sans-serif;
    font-size: 13px;
    padding: 10px;
    margin-bottom: 9px;
}

.capcha-input[placeholder],
.touch-message[placeholder],
.touch-input[placeholder] {
    text-overflow: ellipsis;
    color: #48cbe8;
}

.capcha-input::-moz-placeholder,
.touch-message::-moz-placeholder,
.touch-input::-moz-placeholder {
    text-overflow: ellipsis;
    color: #48cbe8;
}

.capcha-input:-moz-placeholder,
.touch-message:-moz-placeholder,
.touch-input:-moz-placeholder {
    text-overflow: ellipsis;
    color: #48cbe8;
}

.capcha-input:-ms-input-placeholder,
.touch-message:-ms-input-placeholder,
.touch-input:-ms-input-placeholder {
    text-overflow: ellipsis;
    color: #48cbe8;
}

.capcha-input::-webkit-input-placeholder,
.touch-message::-webkit-input-placeholder,
.touch-input::-webkit-input-placeholder{
    text-overflow: ellipsis;
    color: #48cbe8;
}

.touch-message{
    display: block;
    width: 402px;
    height: 183px;
    border: 1px solid rgb(72, 203, 232);
    border-radius: 4px;
    font-size: 13px;
    padding: 10px;
    margin-bottom: 11px;
}
.capcha-wrap{
    position: relative;
    margin-bottom: 12px;
}
.touch-capcha-label{
    font-size: 17px;
}
.capcha{
    display: inline-block;
    border: 1px solid rgb(72, 203, 232);
    border-radius: 4px;
    width: 191px;
    height: 79px;
    background-color: #fff;
    margin: 0;
    margin-right: 19px;
    padding: 0;
}

.capcha-input{
    position: absolute;
    top:21px;
    display: inline-block;
    width: 192px;
    height: 32px;
    border: 1px solid rgb(72, 203, 232);
    border-radius: 4px;
    font-size: 13px;
    padding: 10px;
}

.touch-submit{
    float: left;
    color: #fff;
    background-color: #48cbe8;
    border-radius: 5px;
    width: 137px;
    height: 33px;
    border: none;
    border-bottom: 4px solid #3ba8c0;
    font-size: 19px;
    line-height: 31px;
}
.touch-reset{
    float: right;
    color: #fff;
    background-color: #849db5;
    border-radius: 5px;
    width: 125px;
    height: 33px;
    border: none;
    border-bottom: 4px solid #687b8f;
    font-size: 19px;
    line-height: 31px;
}
