<!DOCTYPE html>
html(lang="ru")
head
    meta(charset="UTF-8")
    title Portfolio
    link(rel="stylesheet", href="bower/normalize-css/normalize.css")
    link(rel="stylesheet", href="../css/main.css")
body
    include jade-includes/_header.jade
    main
        include jade-includes/_aside.jade
        include jade-includes/_info-block.jade
    include jade-includes/_footer.jade
    script(src="bower/jquery/jquery.js")
    script(src="js/main.js")
