<!DOCTYPE html>
html(lang="ru-RU")
head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Portfolio. My works
    // SEO
    meta(name="description" content="Portfolio")
    meta(name="keywords" content="")
    meta(name="author" content="Radislaw Yalilow")
    // favicon
    link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
    link(rel="icon", href="favicon.ico", type="image/x-icon")
    // vendor CSS
    link(rel="stylesheet", href="bower/normalize-css/normalize.css")
    // fonts CSS
    link(rel="stylesheet", href="fonts/fira/fira.css")
    link(rel="stylesheet", href="fonts/Proxima-Nova/proximanovacond-semibold.css")
    // custom CSS
    link(rel="stylesheet", href="css/main.css")
    link(rel="stylesheet", href="css/my-works.css")
    link(rel="stylesheet", href="css/add-project.css")
    // header js
    script(src="bower/modernizr/modernizr.js")
body
    <!--[if lt IE 8]>
    <p class="browsehappy">Ваш браузер <strong>устарел</strong>. Пожалуйста<a href="http://browsehappy.com/">обновите</a> его.</p>
    <![endif]-->
    include jade-includes/_header.jade
    main.page-row.page-row-expanded.clearfix
        .wrapper
            include jade-includes/_my-works-aside.jade
            include jade-includes/_my-works-info.jade
    include jade-includes/_footer.jade
        // vendor js
        script(src="bower/jquery/jquery.min.js")
        script(src="bower/bPopup/jquery.bpopup.min.js")
        script(src="bower/jquery-placeholder/jquery.placeholder.min.js")
        // custom js
        script(src="js/main.js")
